body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #162e4e 0%, #0c0d13 100%);
    margin: 0;
    overflow: hidden;
}

#main {
    font-family: 'Trebuchet MS';
    text-align: center;
    position: relative;
    top: 20%;
}

#Funny {
    margin: 2%;
    font-size: 2vw;
}

#Troll {
    margin: 2%;
    display: none;
}

#PatchnotesContainer {
    position: absolute;
    bottom: 130%;
    left: 1%;
}

#PatchnotesTitle {
    text-decoration: underline 2px solid;
    text-decoration-color: white;
    text-underline-offset: 5px;
}

#PatchnotesBox {
    text-align: left;
    display: none;
    position: absolute;
    width: 50vw;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    left: 200%;
    top: 50%;
    background-color: black;
    color: white;
    z-index: 5;
} 

#OpenPatchnotes {
    touch-action: manipulation;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 150px;
    height: 30px;
    padding: 0px; 
}

#stats {
    text-align: center;
    height: auto;
    width: auto;
    position: absolute;
    border-style: solid;
    bottom: 50%;
    left: 1%;
    background-color: gray;
    color: white;   
    padding: 10px;
    padding-bottom: 20px;
    font-size: 13px;
}

#Prestige {
    position: absolute;
    left: 71%;
    bottom: 77%;
    border-style: solid;
    background-color: gray;
    color: white;   
    padding: 10px;
    padding-bottom: 20px;
}

#shop {
    touch-action: manipulation;
    height: auto;
    max-height: 250px;
    max-width: 300px;
    width: auto;
    position: absolute;
    border-style: solid;
    bottom: -30%;
    left: 70%;
    text-align: center;
    margin: 1vw;
    padding: 2vw;
    background-color: gray;
    color: white;
    overflow-y: scroll;
}

#consumables {
    touch-action: manipulation;
    height: auto;
    width: 30vw;
    position: absolute;
    border-style: solid;
    top: 50%;
    right: 65vw;
    text-align: center;
    margin: 2vw;
    padding: 1vw;
    background-color: gray;
    color: white;
    display: flex;
    overflow-x: auto;
}


#LogoImg {
    padding: none;
    margin: none;
    transition: 200ms linear all;
    touch-action: manipulation;
}

#Counter {
    color: white;
    font-size: 20px;
}

#Title {
    text-decoration: underline;
    color: white;
}

.button {
    touch-action: manipulation;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 250px;
    height: 40px;
    padding: 0px; 
}

#ResetButton {
    touch-action: manipulation;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 250px;
    height: 40px;
    padding: 0px;  
}

#PrestigeInfo {
    font-size: 10px;
    margin: 0px;
    margin-top: 5px;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#OpenPatchnotes:hover {background-color: #3e8e41}

#OpenPatchnotes:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#KahviImg {
    width: 75px;
    height: 75px;
}

#PullaImg {
    width: 75px;
    height: 60spx;
}

.ShopContainer {
    padding: 10px;
    display: inline;
}



#ADHDImg {
    width: 75px;
    height: 75px;
}

#critical {
    color: red;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
}

#Status {
    margin: none;
    padding: none;
    position: absolute;
    left: 25%;
    bottom: 120%;
    color: white;
    font-size: 20px;
}